---
layout: default
title: Database Tutee
---

<h1>Database Tutee</h1>

<div>
  <h2>Instructions</h2>
  <p>Let the tutee know if their claims are correct by providing a positive or negative affirmation (e.g. "right" or "wrong").</p>
  <p>You may skip to a random question (e.g. "random"), or you may request to skip to the next sequential question if you like (e.g. "next").</p>
  <p>If you would like a question for a specific topic, you can ask for it (e.g. "get mysql").</p>
  <p>If you need to review the material related to the question, you can ask for a link to the content (e.g. "link").</p>
</div>

<div id="chat"></div>

<form id="chatReply">
  <label>Reply:</label>
  <input type="text" name="reply" id="reply">
  <input type="submit" value="Submit">
</form>

<form id="radioQuestions">
  {% for question in site.data.questions.databases %}
    <div>
      <p>{{forloop.index}}. {{question.text}}</p>
      <input type="radio" id="{{forloop.index}}_t" name="{{forloop.index}}" value="true" required>
      <label for="a_t">T</label>
      <input type="radio" id="{{forloop.index}}_f" name="{{forloop.index}}" value="false" required>
      <label for="a_f">F</label>
    </div>
    <br>
  {% endfor %}
  <div>
    <button type="submit">Check</button>
  </div>
  <br>
</form>

<hr>

<pre id="output">
</pre>

<style>
#chat {
  width: 400px;
  min-height: 300px;
  background-color: #999;
  margin-bottom: 15px;
  padding: 5px;
}

.message-container {
  width: 100%;
}

.message {
  max-width: 150px;
  background-color: #DDD;
  margin: 5px;
  padding: 5px;
}

.bot-message {
  color: green;
}

.user-message {
  color: brown;
  margin-left: auto;
}

#chatReply {
  width: 400px;
  text-align: right;
}
</style>

<script>
  var maxWeight = 1000;
  var minWeight = 1;
  var decayWeight = 0.2;
  var deltaWeight = decayWeight * (maxWeight - minWeight);

  // Get tutee questions as JS from YML
  var getQuestions = function() {
    var questions = [];
    {% for question in site.data.questions.databases %}
      var tags = [];
      {% for tag in question.tags %}
        tags.push("{{tag}}");
      {% endfor %}
      questions.push({
        index: {{forloop.index}} - 1,
        text: "{{question.text}}",
        value: {{question.value}},
        content: "{{question.content}}",
        tags: tags,
        weight: (maxWeight - minWeight) / 2
      });
    {% endfor %}
    return questions;
  };

  var getCurrentIndex = function() {
    return QUESTION_INDEX - 1 < 0 ? questions.length - 1 : QUESTION_INDEX - 1;
  };

  var getRandomQuestion = function(questionGroup = questions) {
    const weightSum = questionGroup.reduce(function(total, question) {
      return total + question.weight;
    }, 0);
    let random = Math.floor(Math.random() * (weightSum + 1));
    const randomIndex = questionGroup.findIndex(function(question) {
      random -= question.weight;
      return random <= 0;
    });
    return questionGroup[randomIndex].index;
  };

  var decreaseWeight = function() {
    const newWeight = questions[getCurrentIndex()].weight - 10;
    questions[getCurrentIndex()].weight = newWeight < minWeight ? minWeight : newWeight;
  };

  var increaseWeight = function() {
    const newWeight = questions[getCurrentIndex()].weight + deltaWeight;
    questions[getCurrentIndex()].weight = newWeight > maxWeight ? maxWeight : newWeight;
  };

  // Appends a message to the chat window
  var addTextToChat = function(text, user = false) {
    var message = document.createElement("DIV");
    message.className = 'message ';
    message.className += user ? 'user-message ' : 'bot-message ';

    var messageText = document.createTextNode(text);
    message.appendChild(messageText);

    var messageContainer = document.createElement("DIV");
    messageContainer.className = 'message-container ';
    messageContainer.appendChild(message);

    var chat = document.querySelector("#chat");
    chat.appendChild(messageContainer);
  };

  // Appends a link message to the chat window
  var addLinkToChat = function(link, text) {
    var message = document.createElement("DIV");
    message.className = 'message ';
    message.className += 'bot-message ';

    var messageLink = document.createElement('a');
    messageLink.href = link;
    messageLink.title = text;
    messageLink.target = '_blank';
    linkText = text.split('-').map(function capitalize(part) {
      return part.charAt(0).toUpperCase() + part.slice(1);
    }).join(' ');
    messageLink.appendChild(document.createTextNode(linkText));
    message.appendChild(messageLink);

    var messageContainer = document.createElement("DIV");
    messageContainer.className = 'message-container ';
    messageContainer.appendChild(message);

    var chat = document.querySelector("#chat");
    chat.appendChild(messageContainer);
  };

  var addNextQuestion = function(random = true) {
    if (random) {
      QUESTION_INDEX = getRandomQuestion();
    }
    if (QUESTION_INDEX >= questions.length) {
      QUESTION_INDEX = 0;
      addNextQuestion();
      return;
    }
    addTextToChat('Is this right? ' + questions[QUESTION_INDEX].text);
    QUESTION_INDEX++;
  };

  var checkGet = function(text) {
    var gets = [
      'get',
      'tag',
      'search',
      'find'
    ];

    for (var get of gets) {
      if (text.includes(get)) {
        return true;
      }
    }

    return false;
  };

  var checkRandom = function(text) {
    var randoms = [
      'random',
      'another',
      'arbitrary'
    ];

    for (var random of randoms) {
      if (text.includes(random)) {
        return true;
      }
    }

    return false;
  };

  var checkLink = function(text) {
    var links = [
      'link',
      'help',
      'content'
    ];

    for (var link of links) {
      if (text.includes(link)) {
        return true;
      }
    }

    return false;
  };

  var checkSkip = function(text) {
    var skips = [
      'skip',
      'next',
      'pass'
    ];

    for (var skip of skips) {
      if (text.includes(skip)) {
        return true;
      }
    }

    return false;
  };

  var checkNegative = function(text) {
    var negatives = [
      'wrong',
      'don\'t',
      'incorrect',
      'bad',
      'false',
      'no'
    ];

    for (var negative of negatives) {
      if (text.includes(negative)) {
        return true;
      }
    }

    return false;
  };

  var checkPositive = function(text) {
    var positives = [
      'right',
      'sure',
      'think so',
      'correct',
      'good',
      'true',
      'yes'
    ];

    for (var positive of positives) {
      if (text.includes(positive)) {
        return true;
      }
    }

    return false;
  };

  // Handle bot response
  var handleBotResponse = function(response) {
    var filteredResponse = response.replace(/[^a-zA-Z0-9\s]/g, '').toLowerCase();
    var get = checkGet(filteredResponse);
    var link = checkLink(filteredResponse);
    var random = checkRandom(filteredResponse);
    var skip = checkSkip(filteredResponse);
    var negative = checkNegative(filteredResponse);
    var positive = checkPositive(filteredResponse);

    // User wants us to get a prompt by tag
    if (get) {
      var tagQuestions = [];
      var matchingTags = [];
      filteredResponse.split(' ').slice(1).forEach(function(word) {
        questions.forEach(function (question) {
          question.tags.forEach(function (tag) {
            if (word.includes(tag)) {
              tagQuestions.push(question);
              if (matchingTags.indexOf(tag) === -1) {
                matchingTags.push(tag);
              }
            }
          });
        });
      });
      addTextToChat('Okay, let\'s skip that one right now and do one with a tag matching: ' + matchingTags.join('; '));
      QUESTION_INDEX = getRandomQuestion(tagQuestions);
      addNextQuestion(false);
      return;
    }

    // User wants a link to the relevant content
    if (link) {
      addTextToChat('Okay, here\'s a link to the relevant content:');
      var content = questions[getCurrentIndex()].content;
      addLinkToChat('{{site.baseurl}}/lessons/databases#' + content, content);
      return;
    }

    // User wants to skip the question for a random one
    if (random) {
      addTextToChat('Okay, let\'s skip that one right now and do a random one.');
      addNextQuestion();
      return;
    }

    // User wants to skip the question for the next sequential one
    if (skip) {
      addTextToChat('Okay, let\'s skip that one right now for the next sequential one.');
      addNextQuestion(false);
      return;
    }

    // User responded positively
    if (!negative && positive) {
      if (questions[getCurrentIndex()].value) {
        addTextToChat('That seems right!');
        decreaseWeight();
      } else {
        addTextToChat('Wait are you sure? I think you have it backwards... Let\'s move on.');
        increaseWeight();
      }

      addNextQuestion();
      return;
    }

    // User responded negatively
    if (negative && !positive) {
      if (!questions[QUESTION_INDEX - 1].value) {
        addTextToChat('Oh, I think you\'re right!');
        increaseWeight();
      } else {
        addTextToChat('Wait are you sure? I think you have it backwards... Let\'s move on.');
        decreaseWeight();
      }

      addNextQuestion();
      return;
    }

    // Unclear response from user
    addTextToChat('I\'m not sure if you think I was right or wrong. What do you think?');
  };
</script>

<script>
  var form = document.querySelector("#chatReply");
  var reply = document.querySelector("#reply");

  var questions = getQuestions();
  addNextQuestion();
  reply.focus();

  // Handles user input submissions
  form.addEventListener("submit", function(event) {
    var user = true;
    addTextToChat(reply.value, user);

    handleBotResponse(reply.value);

    reply.value = '';
    reply.blur();
    reply.focus();

    event.preventDefault();
  }, false);
</script>

<script>
  var form = document.querySelector("#radioQuestions");
  var output = document.querySelector("#output");

  var expected = {};
  {% for question in site.data.questions.databases %}
    expected[{{forloop.index}}] = {{question.value}};
  {% endfor %}

  form.addEventListener("submit", function(event) {
    var data = new FormData(form);
    var out = "";
    var errors = [];

    for (var entry of data) {
      if (entry[1] !== expected[entry[0]].toString()) {
        errors.push(entry[0]);
      }
      if (errors.length) {
        out = "Check: #" + errors.join(", #");
      } else {
        out = "Correct!";
      }
    };

    output.innerText = out;
    event.preventDefault();
  }, false);
</script>
